body {
  // font-family: 'Open Sans', sans-serif;
  @include fontRoboto;
  font-size: $fontSize;
  color: $colorBlue;
  background-color: $colorBlue;
}

.header {
  &-title {
    color: $colorWhite;
    text-decoration: underline;
    text-decoration-color: $colorOrange;
  }
  &-img {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
}

.img {
  &-presentation {
    height: auto;
    max-width: 200px;
    display: block;
    width: 100%;
  }
  max-width: 20%;
  height: auto;
  display: block;
}

.o {
  &-wrap {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
  }

  &-flex {
    display: flex;
    align-items: center;
    gap: 20px;

    &--center {
      justify-content: center;
    }

    &--spaceBetween {
      justify-content: space-between;
    }
  }
}

.content-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  & > * {
    width: calc(100% / 2 - 10px);
  }
}

.presentation {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  padding: 20px;
  overflow: hidden;
  background-color: $colorWhite;
  @include boxShadow(20px);
  @include border;
  @include borderRadius;
  gap: 10px;
  &-bold {
    color: $colorOrange;
  }
  & > * {
    width: calc(50% - 5px);
  }
}

.controls {
  // margin: 50px;
  & > * {
    &:nth-child(1) {
      transition: background-color 0.2s ease;
      &:hover {
        background-color: $colorDeepGreen !important;
      }
    }
    &:nth-child(2) {
      background-color: $colorYellow;
      transition: background-color 0.2s ease;
      &:hover {
        background-color: $colorDeepYellow !important;
      }
    }
    &:nth-child(3) {
      background-color: $colorOrange;
      transition: background-color 0.2s ease;
      &:hover {
        background-color: $colorRed !important;
      }
    }
  }
}

.c {
  &-timer {
    // margin: 20px 0;
    padding: 20px;
    overflow: hidden;
    background-color: $colorWhite;
    @include boxShadow(20px);
    @include border;
    @include borderRadius;
  }

  &-timer__name {
    font-size: $fontSize;
  }

  &-timer__value {
    font-weight: normal;
    font-size: $timerFontSize;
  }

  &-timer__buttons {
    font-size: $fontSize;
    color: $colorWhite;
  }

  &-button {
    margin: 0 15px;
    padding: 15px;
    display: block;
    background-color: $colorGreen;
    // @include border;
    @include borderRadius;
    transition: background-color 0.2s ease;

    &--close {
      margin: 0;
      padding: 15px 20px;
      font-size: $fontSizeSmall;
      background-color: $colorWhite;
      color: $colorBlack;
      border-radius: 50%;
      border: 1px solid $colorBlack;
      transition: background-color 0.2s ease;
      &:hover {
        background-color: $colorRed !important;
        color: $colorWhite;
        border: 1px solid $colorRed;
      }
    }

    &:hover {
      background-color: $colorOrange;
      cursor: pointer;
    }
  }

  &-input {
    margin: 20px 0;
    @include boxShadow(20px);

    &__input {
      width: calc(80% - 10px);
      padding: 20px;
      @include border;
      border-radius: 5px 0 0 5px;
      box-shadow: none;
      transition: box-shadow 0.3s ease-in-out;
      outline: none;

      &:focus {
        box-shadow: 0 0 5px $colorGreen;
        border-top: 2px solid $colorGreen;
        border-left: 2px solid $colorGreen;
        border-bottom: 2px solid $colorGreen;
      }
    }

    &__button {
      text-align: center;
      width: calc(20% - 10px);
      padding: 20px 0;
      color: $colorWhite;
      display: block;
      background-color: $colorGreen;
      @include border;
      border-radius: 0 5px 5px 0;
      border-left: 0 !important;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $colorOrange;
        cursor: pointer;
      }
    }
  }

  &-box {
    &__success {
      @include infoBox($colorGreen);
    }

    &__error {
      @include infoBox($colorOrange);
    }
  }
}

.u {
  &-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 400ms;
  }

  &-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 1000ms;
  }
}

@media screen and (max-width: $mediumScreen) {
}

@media screen and (max-width: $smallScreen) {
  html {
    font-size: 10px;
  }
  .presentation {
    font-size: 2rem;
  }

  .c {
    &-timer {
      &__value {
        text-align: center;
      }
    }
    &-button {
      &--close {
        padding: 10px 13px;
      }
    }
  }

  .img {
    max-width: 50%;
  }
  .content-wrapper {
    flex-wrap: wrap;
    & > * {
      width: 100%;
    }
  }
  .header {
    & > * {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
      padding-bottom: 0px !important;
    }
    &-img {
      order: -1;
    }
  }

  .o {
    &-flex {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
